.main-container {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

/* Centrar y limitar ancho en pantallas grandes */
@media (min-width: 1024px) {
  .main-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.room-card {
  width: 100%;
  height: 100%;
}

img[mat-card-image] {
  object-fit: cover;
  height: 200px;
}
